include pyproject.toml
include *.md
include tox.ini
include .dockerignore
include Dockerfile
include *.yml
include  *.py
include *.sh
include *.yaml
recursive-include dist *.gz
recursive-include dist *.whl
recursive-include tests *.py
exclude *.pyo
exclude __pycache__
exclude .gitignore
exclude *.ipynb
