include pyproject.toml
include *.md
include tox.ini
include .dockerignore
recursive-include dist *.gz
recursive-include dist *.whl
recursive-include tests *.py
global-exclude aws_automation/**
recursive-include functions *.json
recursive-include functions *.py
recursive-include functions *.sh
recursive-include functions *.yaml
recursive-include functions *Dockerfile
exclude *.pyo
exclude __pycache__
exclude .gitignore
exclude *.ipynb
